* {
  box-sizing: border-box;
  
}
.books_section{
  padding: 0px 40px;
  background-color: rgb(255, 212, 81);;
  color: black;
  padding-bottom: 100px;
  padding-top: 10px;
}

.books_box {
  margin-top: 30px;
  width: 1200px;
  height: 350px;
  background-color: rgb(255, 255, 255);
  align-items: center;
  margin-left: 290px;
  border-radius: 15px;
}
.books_box h2{
  font-size: 19px;
  padding-left: 20px;
  padding-top: 20px;
  font-weight: 600;
}
.books_box p{
  font-size: 16px;
  padding-left: 20px;
  padding-top: 10px;
  font-weight: 500;
}
.books_img{
  width: 200px;
  height: 22  0px;
}

.pushpin {
  position: absolute;
  width: 50px;
  height: 60px;
  margin-top: -87px;
  margin-left: 965px;
}